/* 
*:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 0.9) !important;
	background:               hsla(210, 100%,  50%, 0.5) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

	box-shadow: none !important;
} */

body{
    background-color: black;
    margin: 0;
    
}

header{
    color: white;
}

.imagesize{
    Width:640px;
    height: auto;

}

blockquote{
    background-color: black;
}


.section{
    display: flex;
}
.my-hr{
    background: #4A4A4A;
    border: 1px solid #4A4A4A;
}

i:hover{
    background-color:white;
    border-radius: 50%;
}
